<template id="fullscreen-toggle">
    <style>
        #fullscreen {
            display: inline-flex;
            align-items: center;
        }

        .fullscreen-toggle {
            --button-size: 32px;
            position: relative;
            display: inline-flex;
            flex-direction: column;
            z-index: 9999;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: var(--button-size);
            height: var(--button-size);
            margin: 0;
            padding: 0;
            font-size: var(--button-size);
            line-height: 0;
            cursor: pointer;
            user-select: none;
            color: var(--background-color);
        }

        .fullscreen-toggle-icon {
            position: relative;
            top: 2px;
        }
    </style>
    <button id="fullscreenToggle" class="fullscreen-toggle">
        <span class="fullscreen-toggle-icon">&#x26F6;</span>
    </button>
</template>