<template id="settings-menu">
    <style>
        .settings {
            --button-size: 44px;

            position: fixed;
            top: calc(100% - var(--button-size));
            left: calc(100% - var(--button-size));
            display: inline-flex;
            flex-direction: column;
            z-index: 999;
        }

        .settings-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: var(--button-size);
            height: var(--button-size);
            margin: 0;
            padding: 0;
            font-size: var(--button-size);
            line-height: 0;
            cursor: pointer;
            user-select: none;
            z-index: 2;
        }

        .settings-menu {
            position: absolute;
            bottom: 0;
            right: 0;
            display: inline-flex;
            margin: 0;
            padding: calc(var(--button-size) / 2) var(--button-size) calc(var(--button-size) / 2) calc(var(--button-size) / 2);
            border: 1px solid currentColor;
            white-space: nowrap;
            background-color: var(--background-light);
            color: var(--text-light);
            z-index: 1;
        }

        @media (prefers-color-scheme: dark) {
            .settings-menu {
                background-color: var(--background-dark);
                color: var(--text-dark);
            }
        }

        .settings-list {
            position: initial;
            display: block;
            list-style: none;
        }

        .setting-input {
            display: inline-block;
            margin: 0 8px 0 0;
        }
    </style>

    <details class="settings">
        <summary class="settings-button">&#x2699;</summary>
        <nav class="settings-menu">
            <ul class="settings-list">
                <li class="setting">
                    <label>
                        <input type="checkbox" name="animation" class="setting-input" checked disabled />Animation
                    </label>
                </li>
                <li class="setting">
                    <label>
                        <input type="checkbox" name="dark_mode" class="setting-input" />Dark Mode
                    </label>
                </li>
                <li class="setting">
                    <label>
                        <input type="checkbox" name="performance_mode" class="setting-input" disabled />Performance Mode
                    </label>
                </li>
                <li class="setting">
                    <label>
                        <input type="checkbox" name="disable_javascript" class="setting-input" disabled />Disable
                        JavaScript
                    </label>
                </li>
                <li class="setting">
                    <div role="radiogroup" aria-label="Select layout">
                        <span aria-hidden="true">Layout:</span>
                        <input type="radio" id="layout-full" name="layout" value="full" checked disabled>
                        <label for="layout-full" title="Full layout" tabindex="0">&#x26F6;</label>
                        <input type="radio" id="layout-compact" name="layout" value="compact" disabled>
                        <label for="layout-compact" title="Compact layout" tabindex="0">&#x229F;</label>
                    </div>
                </li>
            </ul>
        </nav>
    </details>
</template>